In [1]:
pwd

'/Users/andrewgarcia-schanz/Desktop/pepp-mal-virt-fin-pt-04-2021-u-c/02-Homework/02-Python/Instructions/PyBank/Resources'

In [4]:
import pandas as pd 
from pathlib import Path

In [3]:
csvpath = Path("budget_data.csv")

In [5]:
data_csv = pd.read_csv(csvpath)
data_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
data_csv["Profit/Losses"].count()

86

In [33]:
Total_Months = data_csv["Profit/Losses"].count()
Total_Months

86

In [9]:
data_csv["Profit/Losses"].sum()

38382578

In [11]:
NetPnl = data_csv["Profit/Losses"].sum()

In [12]:
print(NetPnl)

38382578

In [15]:
data_csv["Profit/Losses"].mean()

446309.0465116279

In [16]:
data_csv["Profit/Losses"].sum()
data_csv['pnl_changes']=data_csv["Profit/Losses"]- data_csv["Profit/Losses"].shift()
data_csv

        Date  Profit/Losses  pnl_changes
0   Jan-2010         867884          NaN
1   Feb-2010         984655     116771.0
2   Mar-2010         322013    -662642.0
3   Apr-2010         -69417    -391430.0
4   May-2010         310503     379920.0
..       ...            ...          ...
81  Oct-2016         102685    -665765.0
82  Nov-2016         795914     693229.0
83  Dec-2016          60988    -734926.0
84  Jan-2017         138230      77242.0
85  Feb-2017         671099     532869.0

[86 rows x 3 columns]

In [17]:
Mean_PL= data_csv["pnl_changes"].mean()
Mean_PL

-2315.1176470588234

In [36]:
max_difference = data_csv["pnl_changes"].max()
max_difference

1926159.0

In [19]:
data_csv.loc[data_csv["pnl_changes"] == data_csv["pnl_changes"].max(),'Date']

25    Feb-2012
Name: Date, dtype: object

In [20]:
data_csv["pnl_changes"].min()

-2196167.0

In [35]:
min_difference = data_csv["pnl_changes"].min()
min_difference

-2196167.0

In [22]:
data_csv.loc[data_csv["pnl_changes"] == data_csv["pnl_changes"].min(),'Date']

44    Sep-2013
Name: Date, dtype: object

In [37]:
print("Financial Analysis")
print("----------------------")
print(f"Total_Months: {Total_Months}")
print(f"Total: ${NetPnl}")
print(f"Average Change: ${Mean_PL}")
print(f"Greatest Increase in Profits: Feb-2012 $({max_difference})")
print(f"Greatest Decrease in Profits: Sep-2013 $({min_difference})")

Financial Analysis
----------------------
Total_Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 $(1926159.0)
Greatest Decrease in Profits: Sep-2013 $(-2196167.0)

In [41]:
output_path = Path('Financial_Analysis.txt')

with open(output_path, 'w') as file:
    file.write(f"Financial Analysis\n")
    file.write(f"----------------------------\n")
    file.write(f"Total Months: {Total_Months} \n")
    file.write(f"Total: ${NetPnl}\n")
    file.write(f"Average Change: ${Mean_PL}\n")
    file.write(f"Greatest Increase in Profits: ({max_difference}) \n")
    file.write(f"Greatest Decrease in Profits: ({min_difference}) \n")